<!DOCTYPE html>
<html lang="e">

<head>
	<meta charset="utf-8" />
	<title>Noticias</title>
</head>

<body>

	<h1>Detalhe da noticia</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Titulo</th>
			<th>Noticia</th>
			<th>Criacao</th>
		</tr>
		<tr>
			<td><%= selectedNoticia[0].id_noticia %></td>
			<td><%= selectedNoticia[0].titulo %></td>
			<td><%= selectedNoticia[0].noticia %></td>
			<td><%= selectedNoticia[0].data_criacao %></td>
		</tr>
	</table>

</body>

</html>